{
  "repos": {
    "GitHub_Hook": {
      "create": "#GitHub##WebHook# %sender - Created < %type > - %ref",
      "release": "#GitHub##WebHook# %sender - Released < %tag > : %title < %url >",
      "commit": "#GitHub##WebHook# %committer - [ %branch - %sha1 ] %message < %url > via @小傅Fox",
      "sha1": 10,
      "senders": [
        0
      ]
    }
  },
  "senders": [
    {
      "name": "*********************",
      "password": "**************************",
      "key": ***************,
      "secret": "*****************************",
      "uri": "http://**********************************"
    }
  ],
  "users": {
    "coderfox": 1742617142
  }
}